# https://www.sphinx.dev/
SPHINX_API_KEY=

# public rpc (these defaults might have too low of a rate limit):
RPC_ETHEREUM_MAINNET=
RPC_ETHEREUM_SEPOLIA=
RPC_ARBITRUM_MAINNET=
RPC_ARBITRUM_SEPOLIA=
RPC_OPTIMISM_MAINNET=
RPC_OPTIMISM_SEPOLIA=
RPC_POLYGON_MAINNET=
RPC_POLYGON_MUMBAI=
RPC_BASE_MAINNET=
RPC_BASE_SEPOLIA=
