# https://www.sphinx.dev/
SPHINX_API_KEY=

# public rpc (these defaults might have too low of a rate limit):
RPC_ETHEREUM_MAINNET=https://api-ethereum-mainnet.n.dwellir.com/4b741c6f-83b3-4a0d-8065-26954a7f5db1
RPC_ETHEREUM_SEPOLIA=https://api-ethereum-sepolia.n.dwellir.com/4b741c6f-83b3-4a0d-8065-26954a7f5db1
RPC_ARBITRUM_MAINNET=https://api-arbitrum-mainnet-full.n.dwellir.com/4b741c6f-83b3-4a0d-8065-26954a7f5db1
RPC_ARBITRUM_SEPOLIA=https://api-arbitrum-sepolia.n.dwellir.com/4b741c6f-83b3-4a0d-8065-26954a7f5db1
RPC_OPTIMISM_MAINNET=https://api-optimism-mainnet-archive.n.dwellir.com/4b741c6f-83b3-4a0d-8065-26954a7f5db1
RPC_OPTIMISM_SEPOLIA=https://api-optimism-sepolia.n.dwellir.com/4b741c6f-83b3-4a0d-8065-26954a7f5db1
RPC_POLYGON_MAINNET=https://api-polygon-mainnet-full.n.dwellir.com/4b741c6f-83b3-4a0d-8065-26954a7f5db1
RPC_POLYGON_MUMBAI=https://api-polygon-amoy.n.dwellir.com/4b741c6f-83b3-4a0d-8065-26954a7f5db1
RPC_BASE_MAINNET=https://api-base-mainnet-archive.n.dwellir.com/4b741c6f-83b3-4a0d-8065-26954a7f5db1
RPC_BASE_SEPOLIA=https://api-base-sepolia-archive.n.dwellir.com/4b741c6f-83b3-4a0d-8065-26954a7f5db1
